
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class=" col-md-12">
        <h1>The Weather</h1>
        <p>View Weather</p>
        <a asp-controller="Auth" asp-action="Login" class="btn btn-lg btn-success">Log in</a>
    </div>
</div>